body{
  background-color:grey;
  margin: 0;
  padding: 15px;

}
.post {
  background-color: white;
  width: 500px;
  margin: auto;
  padding: 10px;
}
.post img{
  width: 100%;
}
.dots{
  display: inline-block;
  width: 5%;
  color:gray;
  padding-right:5px;
}
.Name-Icon{
  display: inline-block;
  width: 85%;
  margin:auto;
  padding:0%;
  padding-left:10px;
  padding-top: 10px;
  padding-bottom:5px;
  font-size: small;
}
.bookmark{
  display: inline-block;
  width: 5%;
}
.Intro{
  display: inline-block;
  width: 90%;
}